.header-bg,
.header-bg-subpage {
    width: 100vw;
    height: 100vh;
}
.header .desk-img {
    display: none;
}
.hero {
    top: calc(50% - 80px);
    left: 29%;
}
.hero-subpage {
    top: 45%;
    left: calc(50% - 107px);
}
.title-header-subpage {
    font-size: 2em;
}
.company-name {
    font-size: 2em;
    border: 4px solid #60606e;
}
.company-name:before {
    transform: scale(.8);
    bottom: 49px;
}
.hero .description {
    padding-top: 65px;
}

.history-subtitle {
    right: calc(50% - 145px);
}
.history .subtitle::after {
    width: 66px;
}
.title .subtitle {
    margin-top: 115px;
    right: 0;
}
.content .description {
    width: 85%;
}
.chair-photo {
    width: 100%;
    height: 85vh;
    margin-right: 0;
}
.portfolio {
    height: 490px;
}
.portfolio .subtitle {
    right: 0;
}
.portfolio p {
    width: 85%;
    padding: 0 0 55px;
    margin: 0 auto;
    line-height: 1.25em
}
.img {
    right: -16%;
    transform: scale(.5);
}
.categories {
    padding-left: 8%;
}
.contact {
    height: 465px;
}
.newsletter {
    float: none;
    margin: 190px auto 0;
}
.map {
    width: 610px;
    margin: 0 auto;
}
.map .link:nth-of-type(1) {
    margin: 0;
}
.copyrights {
    text-align: center;
    float: none;
    clear: both;
    line-height: 55px;
}
.social-medias {
    float: none;
    width: 186px;
    padding: 0;
    margin: 10px auto 60px;
}
.contact-info {
    clear: both;
    float: none;
    width: 100%;
}
.contact-form {
    width: 100%;
    margin-top: 50px;
}
.contact-form .name {
    clear: both;
    float: none;
    width: 100%;
}
.contact-form .email {
    clear: both;
    float: none;
    width: 100%;
    margin-top: 20px;
}
.google-map {
    position: relative;
    clear: both;
    float: none;
    top: 50px;
    left: 0;
    width: 100%;
    margin: 0;
}
.about {
    float: none;
    width: 100%;
    margin-right: 0;
}
.what-we-do {
    width: auto;
    margin: 30px 0;
}

.benefit-sub {
    width: auto;
}
.about-desc {
    width: auto;
}
.benefit {
    width: auto;
}
.team {
    height: 2200px;
}
.team-photo4 {
    top: 365px;
    left: -30px;
}
.team-photo5 {
    left: 222px;
}
.team-photo6 {
    left: 517px;
}
.team-photo7 {
    top: 718px;
    left: -72px;
}
.team-photo8 {
    top: 718px;
    left: 226px;
}
.testimonials {
    width: auto;
    margin-top: 0;
}
.bar {
    margin-top: 1200px;
}
.bar-desc {
    padding-top: 20px;
    line-height: 1.25em;
    font-size: .75em;
}
.bar .button {
    right: 70px;
    top: 65px;
}
.clients {
    width: 62%;
    margin: 70px auto 0;
    float: none;
}
@media screen and (max-width: 1000px) {
    .team {
        height: 990px;
    }
    .team-photos {
        display: none;
    }
    .bar {
        margin-top: 360px;
    }
    .clients {
    width: 78%;
    margin: 260px auto 0;
    float: none;
}
}
@media screen and (max-width: 700px) {
    .subtitle,
    .header i,
    .akad {
    font-size: 1em;
    }
    .header .desk-img {
        display: none;
    }
    .hero {
        top: 25%;
        left: calc(50% - 80px);
    }
    .company-name {
        width: 160px;
        font-size: 1.2em;
        border: 4px solid #60606e;
    }
    .company-name:before {
        transform: scale(.4);
        bottom: 23px;
    }
    .hero .description {
        width: 160px;
        padding-top: 40px;
        font-size: .75em;
        line-height: 1.25em;
    }

    .history-subtitle {
        bottom: 30vh;
        right: calc(50% - 86px);
    }
    .history .subtitle::after {
        width: 36px;
    }
    .our-history {
        bottom: 20px;
        left: 7.5%;
        width: 85%;
        font-size: .75em;
        line-height: 1.25em;
    }
    .header-hp a {
        bottom: -10px;
        right: 45px;
        width: 80px;
        font-size: .75em;
        line-height: 20px;
    }
    .title {
        padding-bottom: 0;
    }
    .title .subtitle {
        bottom: 0;
        right: 0;
        margin: 40px auto 0;
    }
    .title .subtitle::after {
        width: 38px;
        left: 60px;
    }
    .content .description {
        width: 85%;
        margin: 0 auto;
        font-size: .75em;
        line-height: 1.25em;
    }
    .services {
        width: 100%;
        padding: 0;
    }
    .service {
        clear: both;
        float: none;
        width: 209px;
        margin: 0 auto;
        padding: 0;
    }
    .service i,
    .service h3 {
        font-size: 1em;
    }
    .service ul li {
        font-size: .75em;
        line-height: 2.5em;
    }
    .services .service:nth-last-child(1) {
        padding: 0;
    }
    .service ul li:nth-last-child(1) {
        padding-bottom: 20px;
    }
    .chair-photo {
        width: 100%;
        height: 290px;
        margin-right: 0;
    }
    .portfolio {
        padding-top: 35px;
        height: 240px;
    }
    .portfolio .subtitle {
        right: 0;
        bottom: 0;
    }
    .portfolio .subtitle::after {
        left: 61px;
        width: 37px;
    }
    .portfolio p {
        width: 85%;
        padding: 12px 0 36px;
        margin: 0 auto;
        font-size: .75em;
        line-height: 1.25em
    }
    .img {
        display: none;
    }
    .categories {
        float: none;
        clear: both;
        width: 130px;
        padding: 0;
        margin: 0 auto;
    }
    .category-title {
        width: 100px;
        padding-bottom: 12px;
        font-size: 1em;
    }
    .category {
        font-size: .75em;
        line-height: 2.5em;
    }
    .contact {
        width: 100%;
        height: 340px;
        padding: 0;
    }
    .contact h2 {
        clear: both;
        float: none;
        width: 85%;
        padding: 5% 0;
        margin: 0 auto;
        font-size: 1em;
    }
    .contact a {
        top: 15%;
        left: 58%;
        width: 128px;
        font-size: .75em;
        line-height: 35px;
    }
    .newsletter {
        width: 100%;
        padding: 0;
        margin: 22px 0 0;
        font-size: 1em;
    }
    .newsletter h3 {
        width: 85%;
        margin: 0 auto;
        padding: 10px 0 0;
        font-size: 1em;
    }
    .newsletter p {
        width: 85%;
        margin: 0 auto;
        line-height: 1.25em;
        font-size: .75em;
    }
    .newsletter fieldset {
        width: 85%;
        margin: 17px auto 0;
    }
    .newsletter input {
        width: 70%;
    }
    .newsletter legend {
        font-size: .75em;
    }
    .newsletter button {
        width: 30%;
        padding: 0;
        text-align: center;
        line-height: 50px;
    }
    .map {
        width: 85%;
        margin: 0 auto;
    }
    .map .link:nth-of-type(1) {
        padding: 0;
        margin: 0;
    }
    .map .link:nth-of-type(1)::before {
        content: "-";
    }
    .map .link {
        float: none;
        width: 49%;
        font-size: .75em;
        line-height: 40px;
    }
    .copyrights {
        width: 85%;
        margin: 15px auto;
        padding: 0;
        float: none;
        font-size: .75em;
        line-height: 1.25em;
    }
    .social-medias {
        float: none;
        text-align: center;
        padding: 0 0 20px;

    }
    .contact-info {
        clear: both;
        float: none;
        width: 100%;
    }
    .contact-form {
        width: 100%;
        margin-top: 50px;
    }
    .contact-form .name {
        clear: both;
        float: none;
        width: 100%;
    }
    .contact-form .email {
        clear: both;
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .google-map {
        position: relative;
        clear: both;
        float: none;
        top: 50px;
        left: 0;
        width: 100%;
        height: 415px;
        margin: 0;
    }
    .footer-sb {
        margin-top: 120px;
    }
    .testimonials {
        margin-top: 250px;
    }
    .benefits {
        margin-top: 290px;
    }
    .benefit-icon {
        font-size: 25px;
        margin-top: -7px;
    }
    .team-subtitle {
        width: 150px;
        margin: 0 auto;
    }
    .bar {
        margin-top: 500px;
    }
    .clients {
        width: 58%;
        margin: 360px auto 0;
    }
}
@media screen and (min-width: 599px) {
    .testimonials {
         margin-top: 0;
    }
    .clients {
        width: 100%;
    }
    .clients li {
        margin-right: 8px;
    }
    .clients li:nth-of-type(3) {
        margin-right: 0;
    }
}
@media screen and (max-width: 960px) and (orientation:landscape) {
    .hero {
        left: calc(50% - 150px);
    }
    .company-name {
        width: 300px;
    }
    .hero .description {
        width: 300px;

    }
    .history-subtitle {
        bottom: 90px;
        right: calc(50% - 161.5px);
     }
    .our-history {
        bottom: 20px;
        left: 7.5%;
        width: 85%;
        font-size: .75em;
        line-height: 1.25em;
    }
    .title .subtitle {
        right: 0;
        bottom: 0;
     }
     .portfolio .subtitle {
        right: 0;
        bottom: 0;
    }
    .google-map {
        position: absolute;
    }
    .team {
        height: 880px;
    }
    .clients {
        width: 74%;
    }

    .clients li {
        margin: 10px 63px 20px 0;
    }
    .clients li:nth-of-type(3),
    .clients li:nth-of-type(6) {
        margin-right: 0;
    }
}
@media screen and (max-width: 900px) and (orientation:landscape) {
    .header-bg {
        height: 100vh;
    }
    .hero {
        left: calc(50% - 150px);
    }
    .history-subtitle {
        bottom: 90px;
        right: calc(50% - 86px);
        font-size: 1em;
     }
     .title .subtitle {
        right: 0;
        bottom: 0;
     }
     .services {
        float: none;
        width: 85%;
        margin: 0 auto;
        padding: 0;
     }
     .service {
        clear: none;
        float: left;
        padding: 20px 35px 0 0;
    }
    .services .service:nth-last-child(1) {
        padding: 20px 0 0;
    }
    .portfolio {
        height: 280px;
    }
    .portfolio .subtitle {
        right: 0;
        bottom: 0;
    }
    .categories {
        float: left;
        clear: none;
        padding: 0 0 0 13%;
    }
    .img {
        display: block;
        right: -40%;
        transform: scale(.3);
    }
    .map .link {
        width: 32%;
    }
    .contact-info {
        clear: both;
        float: none;
        width: 100%;
    }
    .contact-form {
        width: 100%;
        margin-top: 50px;
    }
    .contact-form .name {
        clear: both;
        float: none;
        width: 100%;
    }
    .contact-form .email {
        clear: both;
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .google-map {
        position: relative;
        float: none;
        clear: both;
        top: 50px;
        left: 0;
        width: 100%;
        margin: 0;
    }
    .team {
        height: 970px;
    }
    .testimonials {
        margin-top: 0;
    }
    .clients {
        width: 100%;
    }
    .clients li {
        margin-right: .4%;
    }
}
