.header-bg-subpage {
    height: 500px;
    background: url(../img/landscape-sp.png) 50% 50% no-repeat;
    background-size: cover;
}

.hero-subpage {
    position: absolute;
    top: 51%;
    left: 41%;
    text-align: center;
}
.title-header-subpage {
    font-size: 36px;
    line-height: 48px;
}

.description-header-subpage {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.subpage {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

/* Contact page */
.contact-form {
    float: left;
    width: 45%;
    margin-top: 150px;
}

.contact-form input {
    line-height: 45px;
    padding-left: 20px;
}

.contact-form input::-webkit-input-placeholder {
    font-size: 12px;
}
.contact-form .name {
    float: left;
    width: 47%;
    margin-right: 6%;
}

.contact-form .email {
    width: 47%;
}
.contact-form .object {
    width: 100%;
    margin-top: 20px;
}

.contact-form .message {
    width: 100%;
    margin-top: 20px;
    resize: none;
}

.contact-form .message::-webkit-input-placeholder {
    line-height: 45px;
    padding-left: 20px;
    font-size: 12px;
}
.contact-form .button {
    padding: 0 53px;
    margin-top: 20px;
    line-height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #7beec7;
}

.contact-info {
    width: 47%;
    padding-top: 94px;
    margin: 0;
    clear: both;
}

.contact-info p {
    font-size: 14px;
    line-height: 30px;
}

.contact-info p:nth-of-type(1) {
    padding: 14px 0 0;
}

.address p:nth-of-type(1) {
    padding-bottom: 0;
}

.address p:nth-of-type(5) {
    font-weight: 700;
}
.contact-info .social-medias {
    padding: 0;
    margin: 8px 0;
    float: left;
}

.google-map {
    position: absolute;
    top: 0;
    left: 47%;
    float: left;
    width: 48%;
    height: 830px;
    margin: 150px 0 0 5%;
}

.about {
    position: relative;
}

/* About Us page */

.desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}
.texts {
    margin: 220px auto 0;
    width: 85%;
    height: 290px;
}

.about {
    position: relative;
    float: left;
    width: 45%;
    margin-right: 10%;
}

.texts .subtitle {
    top: -50px;
    width: 100%;
    right: 0;
}

.short-desc {
    padding-bottom: 30px;
}
.what-we-do {
    position: relative;
    float: left;
    width: 45%;
}

.benefits {
    position: relative;
    height: 770px;
    margin-top: 50px;
}

.benefits .subtitle {
    top: 50px;
    left: calc(50% - 125px);
    bottom: auto;
}

.benefit-sub-desc {
    width: 719px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

.benefits ul {
    text-transform: none;
    margin-top: 50px;
}

.benefit {
    float: left;
    width: 370px;
    margin-right: 12px;
}

.benefit-desc {
    margin-bottom: 70px;
}
.team {
    position: relative;

}
