.header-bg-subpage {
    height: 500px;
    background: url(../img/landscape-sp.png) 50% 50% no-repeat;
    background-size: cover;
}

.hero-subpage {
    position: absolute;
    top: 51%;
    left: calc(50% - 150px);
    text-align: center;
}
.title-header-subpage {
    font-size: 36px;
    line-height: 48px;
}

.description-header-subpage {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.subpage {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

/* Contact page */
.contact-form {
    float: left;
    width: 45%;
    margin-top: 150px;
}

.contact-form input {
    line-height: 45px;
    padding-left: 20px;
}

.contact-form input::-webkit-input-placeholder {
    font-size: 12px;
}
.contact-form .name {
    float: left;
    width: 47%;
    margin-right: 6%;
}

.contact-form .email {
    width: 47%;
}
.contact-form .object {
    width: 100%;
    margin-top: 20px;
}

.contact-form .message {
    width: 100%;
    margin-top: 20px;
    resize: none;
}

.contact-form .message::-webkit-input-placeholder {
    line-height: 45px;
    padding-left: 20px;
    font-size: 12px;
}
.contact-form .button {
    padding: 0 53px;
    margin-top: 20px;
    line-height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #7beec7;
}

.contact-info {
    width: 47%;
    padding-top: 94px;
    margin: 0;
    clear: both;
}

.contact-info p {
    font-size: 14px;
    line-height: 30px;
}

.contact-info p:nth-of-type(1) {
    padding: 14px 0 0;
}

.address p:nth-of-type(1) {
    padding-bottom: 0;
}

.address p:nth-of-type(5) {
    font-weight: 700;
}
.contact-info .social-medias {
    padding: 0;
    margin: 8px 0;
    float: left;
}

.google-map {
    position: absolute;
    top: 0;
    left: 47%;
    float: left;
    width: 48%;
    height: 830px;
    margin: 150px 0 0 5%;
}

.about {
    position: relative;
}

/* About Us page */

.desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}
.texts {
    margin: 220px auto 0;
    width: 85%;
    height: 290px;
}

.about {
    position: relative;
    float: left;
    width: 45%;
    margin-right: 10%;
}
.about-us {
    position: relative;
}

.short-desc {
    padding-bottom: 30px;
}

.what-we-do {
    position: relative;
    float: left;
    width: 45%;
}

.what-we-do-sub {
    position: relative;
}

.benefits {
    position: relative;
    width: 85%;
    height: 610px;
    margin: 50px auto 0;
}

.benefit-sub {
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.about-desc {
    width: 719px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

.benefits ul {
    width: 85%;
    text-transform: none;
    margin: 50px auto 0;
}

.benefit {
    float: left;
    width: 370px;
    margin-right: 12px;
}

.benefit-desc {
    margin-bottom: 70px;
}

.team {
    position: relative;
    width: 70%;
    height: 800px;
    margin: 50px auto 0;
}

.team-subtitle {
    position: relative;
    width: 281px;
    margin: 0 auto;
}

.team-photos {
    position: absolute;
}

.team-photo {
    position: absolute;
    margin-top: 20px;
}

.team-photo1 {
    width: 263px;
    height: 333px;
    background: url(../img/oldman.png);
}

.team-photo2 {
    left: 283px;
    width: 263px;
    height: 333px;
    background: url(../img/woman.png);
}

.team-photo3 {
    left: 566px;
    width: 263px;
    height: 333px;
    background: url(../img/boy1.png);
}

.team-photo4 {
    position: absolute;
    left: 819px;
    width: 293px;
    height: 333px;
    clip: rect(0px, 293px, 333px, 0px);
    background: url(../img/woman2.png);
}

.team-photo5 {
    top: 353px;
    left: -72px;
    width: 336px;
    height: 333px;
    clip: rect(0px, 336px, 333px, 72px);
    background: url(../img/boy2.png);
}

.team-photo6 {
    top: 353px;
    left: 211px;
    width: 336px;
    height: 333px;
    clip: rect(0px, 336px, 333px, 72px);
    background: url(../img/boy3.png);
}

.team-photo7 {
    top: 353px;
    left: 494px;
    width: 336px;
    height: 333px;
    clip: rect(0px, 336px, 333px, 72px);
    background: url(../img/boy4.png);
}

.team-photo8 {
    top: 353px;
    left:777px;
    width: 336px;
    height: 333px;
    clip: rect(0px, 336px, 333px, 72px);
    background: url(../img/boy5.png);
}

.bar {
    position: relative;
    margin-top: 770px;
}

.test-clients {
    position: relative;
    margin-top: 300px;
}
