@import "variables.scss";

@mixin main_font_xl {
    position: relative;
    font-family: $main-font;
    font-size: $font-xl;
    font-weight: $font-bold;
    text-transform: uppercase;
   &:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 67px;
    height: 21px;
    background: $highlight-color;
    z-index: -1;
   }
}

@mixin main_font_l {
    font-family: $main-font;
    font-size: $font-l;
    font-weight: $font-bold;
    text-transform: uppercase;
}

@mixin main_font_s {
    font-family: $main-font;
    font-size: $font-s;
    font-weight: $font-bold;
}

@mixin sub_font_m{
    font-family: $sub-font;
    font-size: $font-m;
    font-weight: $font-regular;
}

@mixin sub_font_s {
    font-family: $sub-font;
    font-size: $font-s;
    font-weight: $font-regular;
    line-height: 24px;
}

@mixin mgtop {
    margin-top: 150px;
}

@mixin links {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}


@mixin lists {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


@mixin title_box {
    width: 67%;
    margin: $margin-centering;
    text-align: center;

    h2 {
        &:before {
        left: calc(50% - 128px);
        }
    }
}

@mixin legend {
    position: relative;
    top: -8px;
    left: 0;
    height: 0;
    margin-left: 5px;
    font-size: 10px;
    color: #7beec7;
    transition: all .3s;
}
