@import "variables.scss";


.container {
    width: 85%;
    margin: $margin-centering;
}

@media screen and (max-width: 1248px) {
    .header-hp {
        .history {
            width: 41%;
        }
    }
    .footer {
        .contact {
            .newsletter {
                h3 {
                    width: 100%;
                }
                form {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1074px) {
    .footer {
        .site-map {
            width: 50%;
        }
    }
}

@media screen and (max-width: 769px) {
    .header-hp {
        height: 900px;

        .desk-img {
            display: none;
        }
        .history {
            left: 7.5%;
            width: 85%;
        }
    }
    .reasons {
        .services {
            width: 100%;
        }
        .about-photo {
            clear: both;
            float: none;
            width: 70%;
            padding-top: 50px;
            margin: $margin-centering;
        }
    }
    .portfolio {
        .portfolio_images {
            width: 65%;
        }
    }
    .footer {
        .contact {
            .touch-box {
                float: none;
                width: 100%;
                text-align: center;
            }
            a {
                margin: $margin-centering;
            }
            .newsletter {
                width: 100%;
            }
        }
        .copyrights {
            width: 50%;
        }
    }
}

@media screen and (max-width: 653px) {
    h2 {
        font-size: 29px;
    }
    .title {
        width: inherit;
    }

    .header-hp{
        height: 950px;
        .hero {
            left: 7.5%;
            width: 85%;
            height: 165px;

            h1 {
                line-height: 50px;
                font-size: 24px;
            }
        }
    }
    .reasons {
        .services {
            .service {
                float: none;
                width: inherit;
            }
        }
    }
    .portfolio {
        .categories {
            float: none;
            width: inherit;
        }
        .portfolio_images {
            width: inherit;

            .column {
                width: 100%;
            }
        }
    }
    .footer {
        .contact {
            .touch-box {
                width: 100%;
            }
            .newsletter {
                width: 100%;

                form {
                    height: 100px;

                    fieldset {

                        input {
                            width: 100%;
                        }
                        button {
                            float: none;
                            width: 100%;
                        }

                    }
                }
            }
        }
    }
}
