/* fonts */
/* colors */
/* other */
/* fonts */
/* colors */
/* other */
h2 {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase; }
  h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 67px;
    height: 21px;
    background: #7beec7;
    z-index: -1; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  display: block;
  text-decoration: none;
  text-transform: uppercase; }

.info {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400; }

.sub-desc {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.serv-icon {
  font-size: 31px; }

.title {
  width: 750px;
  margin: 0 auto;
  text-align: center; }
  .title h2:before {
    left: 245px; }

* {
  box-sizing: border-box;
  color: #60606e; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header-hp {
  position: relative;
  height: 850px;
  background: url(../img/main_img/headerbg.jpg) 50% 50% no-repeat;
  background-size: cover;
  font-family: Montserrat, sans-serif; }
  .header-hp span {
    display: block;
    float: left;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 18px; }
  .header-hp i {
    float: right;
    padding-top: 50px;
    font-size: 40px;
    color: #60606e; }
  .header-hp .hero {
    position: absolute;
    top: 225px;
    left: calc(50% - 25%);
    clear: both;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    text-align: center; }
    .header-hp .hero h1 {
      position: absolute;
      width: 100%;
      line-height: 100px;
      border: 10px solid #60606e;
      text-transform: uppercase;
      font-size: 48px;
      opacity: 0; }
      .header-hp .hero h1:before {
        content: "we're";
        position: absolute;
        top: -40px;
        left: calc(50% - 50px);
        width: 100px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        background: #7beec7; }
    .header-hp .hero p {
      font-family: Open Sans, sans-serif;
      font-size: 16px;
      font-weight: 400;
      position: absolute;
      bottom: -40px;
      line-height: 24px;
      opacity: 0; }
  .header-hp .desk-img {
    position: absolute;
    top: 550px; }
  .header-hp .history {
    position: absolute;
    bottom: -20px;
    right: 80px;
    width: 555px;
    z-index: 999999999; }
    .header-hp .history p {
      line-height: 30px; }
    .header-hp .history a {
      float: right;
      width: 165px;
      line-height: 50px;
      text-align: center;
      background: #7beec7; }
  .header-hp .visible {
    animation: slide-show 5s linear; }
  .header-hp .desk-img {
    width: 42%; }
    .header-hp .desk-img img {
      max-width: 100%; }

.reasons {
  position: relative;
  height: 940px;
  padding-top: 250px; }
  .reasons .content {
    margin-top: 74px; }
  .reasons .services {
    width: 50%;
    float: left; }
    .reasons .services .service {
      float: left;
      width: 50%;
      margin-top: 30px; }
      .reasons .services .service h3 {
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }
      .reasons .services .service li {
        line-height: 30px; }
  .reasons .about-photo {
    float: right;
    width: 40%; }
    .reasons .about-photo img {
      max-width: 100%; }

.portfolio {
  clear: both;
  height: 1086px;
  margin-top: 150px; }
  .portfolio .portfolio-box {
    margin-top: 104px; }
  .portfolio .categories {
    float: left;
    width: 25%; }
    .portfolio .categories h2 {
      line-height: 48px; }
      .portfolio .categories h2:before {
        all: unset; }
    .portfolio .categories .category {
      padding-left: 30px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 48px; }
  .portfolio .img {
    width: 75%;
    float: right; }
    .portfolio .img ul {
      float: right;
      width: 100%; }
      .portfolio .img ul li {
        float: left;
        vertical-align: top; }
        .portfolio .img ul li img {
          display: block;
          height: auto;
          width: auto; }

.footer {
  clear: both; }

@keyframes slide-show {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }
