/* fonts */

$main-font: Montserrat, sans-serif;
$sub-font: Open Sans, sans-serif;

$font-bold: 700;
$font-regular: 400;

$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 30px;

/* colors */
$highlight-color: #7beec7;
$text-color: #60606e;

/* other */
$margin-centering: 0 auto;
